.firstDiv {
}
.secondDiv {
}
.thirdDiv {
}
.addColor {
  background-color: blueviolet;
}
.newBackground {
  background-color: cadetblue;
}
.bckgroundAndUppercase {
  background-color: coral;
  text-transform: uppercase;
}
